name: Validate Renovate Config

on:
  pull_request:
    paths:
      - ".github/renovate.json5"
  push:
    branches:
      - main
    paths:
      - ".github/renovate.json5"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: latest

      - name: Install dependencies
        shell: bash
        env:
          RENOVATE_VERSION: latest
        run: npm install -g renovate@${RENOVATE_VERSION}

      - name: Validate Renovate config
        shell: bash
        run: renovate-config-validator --strict
