name: Validate Renovate Config

on:
  pull_request:
    paths:
      - ".github/renovate.json5"
  push:
    branches:
      - main
    paths:
      - ".github/renovate.json5"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: latest

      - name: Install dependencies
        shell: bash
        env:
          RENOVATE_VERSION: latest
        run: npm install -g renovate@${RENOVATE_VERSION}

      - name: Validate Renovate config
        shell: bash
        run: renovate-config-validator --strict
